In [1]:
import pandas as pd
import numpy as np

In [2]:
#pd.options.display.max_colwidth = 10

In [73]:
data = pd.read_csv('DE_Lead_test.csv')

In [74]:
data.head()

,active,created_at,updated_at,last_seen_at,title,city,year,price,make,model,submodel,tags,engine_displacement,Unnamed: 13
0,False,2020-05-19 00:34:55.98678+00,2020-05-30 04:06:33.625583+00,2020-05-30 04:06:33.625583+00,"Nissan Sunny for sale: AED 16,000. Grey/Silver...",Sharjah,2017,16000.0,Nissan,Sunny,NaN,NaN,NaN,NaN
1,False,2019-12-25 02:54:19.01262+00,2020-01-29 22:50:06.166362+00,2020-01-27 02:01:20.083563+00,Mercedes-Benz G 500 2019,Al Ain,2019,629000.0,Mercedes-Benz,Mercedes-Benz G-Class,G 500,{under_warranty},NaN,NaN
2,False,2020-05-11 00:19:54.454751+00,2020-05-19 21:50:06.57541+00,2020-05-17 04:01:08.193533+00,Nissan patrol super safari - 13000 KM ONLY- GO...,Dubai,2019,134500.0,Nissan,Patrol,Safari SR,{under_warranty},NaN,NaN
3,False,2020-08-19 01:27:11.938716+00,2020-09-08 01:33:47.834042+00,2020-09-08 01:33:47.834042+00,Kia Sportage,Dubai,2019,61990.0,Kia,Sportage,LX,{under_warranty},NaN,NaN
4,False,2019-04-16 02:17:19.538276+00,2020-04-18 01:03:42.14273+00,2019-06-02 02:08:11.736506+00,Lexus GS 350 P 3.5L AT Platinum Ref# 8812 for ...,Dubai,2017,178990.0,Lexus,GS series,GS 350 P 3.5L AT Platinum Ref# 8812,NaN,NaN,NaN

In [ ]:
data.info()

In [ ]:
data.shape

In [ ]:
data.isnull().values.any()

### QUESTION 1 DUPLICATE ROWS

In [ ]:
duplicate = data[data.duplicated()]

In [ ]:
duplicate

### Question 2 Removing NAN and outliers from engine_displacement column

In [ ]:
data['engine_displacement'] = data['engine_displacement'].replace(['none'],'NaN', inplace=True)

#### I will have to drop the  engine_displacement column because it doesn't contain any values all appear to be NaN

In [ ]:
data.drop('engine_displacement', inplace=True, axis=1)

In [ ]:
data['tags'].isna().sum()

In [ ]:
def Tag_Bool(data):
    if data['tags'] == '{under_warranty}':
        return True
    return False

In [ ]:
data['tag-bool'] = data.apply(Tag_Bool, axis=1)

In [ ]:
data['title'] 
#data['tags']

In [ ]:
checks = data['title'].str.contains("WARRANTY".lower(), case=False)
#checks[:10]

In [ ]:
check_tag = data['tags'].str.contains("warranty".lower(), case=False)
#check_tag[:10]

In [ ]:
for i,j in zip(checks, check_tag):
    if (i == True) and (j == True):
        print('warranty matches', i, j)
    print('warranty does not match', i, j)

In [4]:
city_ = data.groupby('city')

In [67]:
smallest = city_['price'].nlargest(2)

In [72]:
pd.DataFrame(smallest)[:30]

                                           price
city
AL Mafraq Industrial Area         4916   18500.0
Abu Dhabi                         2569  869000.0
                                  3512  780000.0
Abu Dhabi - Al Wahda Mall         3215   32500.0
Abu Dhabi - Dalma Mall, Musaffah  2238   15625.0
                                  3064   15100.0
Abu Dhabi - Khalidiyah Mall       2902   86400.0
                                  578    47301.0
Abu Dhabi - Mushrif Mall          1545   86500.0
                                  799    81000.0
Abu Dhabi - My City Centre Masdar 4088   31500.0
Abu Dhabi Airport Expansion       4565   21000.0
Abu Dhabi Mall                    187    28000.0
Abu Hail                          2924   10500.0
                                  4967   10000.0
Abu Shagara                       3423   19000.0
                                  3619   15000.0
Abu Tina                          2536   26500.0
Ajman                             1260  270000.0
                                  2175  210000.0
Al Ain                            1     629000.0
                                  1551  345000.0
Al Awir                           1178  310000.0
                                  4001  285000.0
Al Badaa                          4609  250000.0
                                  4617  100000.0
Al Barsha                         2899   40000.0
                                  1476   23000.0
Al Barsha 1                       3816   11500.0
                                  1112    8000.0

In [88]:
make = data['make'].value_counts()

In [90]:
model = data['model'].value_counts()
model

Land Cruiser                                                             140
Patrol                                                                   101
Pajero                                                                    76
Hilux                                                                     66
Corolla                                                                   64
                                                                        ...
307                                                                        1
Corolla 2.0XLi V4 A/T - 16″ wheels - beige interior - speed projector      1
LX                                                                         1
gmc                                                                        1
M-Series                                                                   1
Name: model, Length: 1123, dtype: int64